@media (min-width: 530px) and (max-width:1057px){
    h1{
        font-size: 50px !important;
    }
}

@media (min-width: 320px) and (max-width:530px) {
    h1 {
        font-size: 35px !important;
        text-align: center;
    }
   
}
@media (min-width: 320px) and (max-width:550px) {
   .img-fluid{
    margin-top: 20px;
   }
}